{
  "env": {
    "es6": true,      
    "node": true       
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018, // Allows modern ECMAScript features
    "sourceType": "module"
  },
  "rules": {
    // Additional custom rules here
  }
}
